.botao-caixa-fechado {
	background-color: #20AA57;
	padding: 0.6rem 2rem 0.6rem 2rem;
	margin-top: 1rem;
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 14px;
}

.botao-caixa-aberto {
	background-color: #FD8719;
	padding: 0.6rem 2rem 0.6rem 2rem;
	margin-top: 1rem;
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 14px;
}

.container-central {
	width: 100%;
	margin-top: 2rem;
}

.div-texto {
	margin: 0 auto 0 auto;
}

.texto-abertura {
	color: #303030;
	font-size: 14px;
	margin-top: 0.5rem;
	font-weight: 300;
}