/* ------- VENDA ------- */

.container-venda {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 0.2rem;
}

.venda-titulo {
	font-size: 20px;
	font-weight: 500;
	color: black;
	width: 50%;
}

.container-venda-titulo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.venda-status {
	background-color: #20AA57;
	color: white;
	font-size: 13px;
	padding: 0.3rem 1rem 0.3rem 1rem;
	margin: 0rem 1rem 0rem 1rem;
	border-radius: 50px;
}

.venda-texto {
	font-size: 15px;
}

.ellipsis-icon {
	font-size: 30px;
}

.container-venda-itens {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2rem;
}