/* ----- CONTAINER CENTRAL ----- */
.container-central {
	margin-top: 2rem;
	padding: 0rem 0rem 1rem 1rem;
	width: 100%;
}

#container-categorias {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.categoria-item {
	width: 250px;
	height: 120px;
	border-radius: 8px;
}

.categoria-item h3 {
	font-size: 18px;
}

.categoria-icon {
	font-size: 22px;
	cursor: pointer;
}

/* ---------- MODAIS ---------- */

.modal-content {
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.modal-header {
	background-color: #20AA57 !important;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.modal-title {
	font-family: "Poppins", sans-serif !important;
	font-weight: 500 !important;
	font-size: 1.2rem !important;
}

.div-form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
}

input {
	background-color: #f3f3f3 !important;
	border: none !important;
	padding: 0.55rem !important;
}

.form-span {
	color: red;
	font-weight: 400;
	font-size: 15px;
}

.w-nome {
	width: 60%;
}

.w-categoria {
	width: 35%;
}

.w-dropdown {
	width: 100% !important;
	justify-content: space-between;
}

.w-marca {
	width: 40%;
}

.w-modelo {
	width: 35%;
}

.w-lote {
	width: 20%;
}

.botao-categoria {
	width: 90% !important;
}

.btn-secondary {
	--bs-btn-color: #000000 !important;
	--bs-btn-bg: #edecec !important;
	padding: 0.55rem !important;
}

.btn:hover {
	color: #000000 !important;
	background-color: #edecec !important;
	text-decoration: none !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
	color: black !important;
	background-color: #d4d4d4 !important;
}

.validade-texto {
	font-size: 11px;
	text-align: start;
	padding-top: 5px;
	padding-left: 4px;
}


/* -------- SELECAO DE CORES -------- */

.color-picker-label {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 4px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.color-picker-label.selected {
	border-color: #b4b4b4;
	/* borda cinza */
}

.color-picker-input {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: -1;
}