body,
html {
	width: 100%;
	height: 100vh;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background {
	background:
		linear-gradient(180deg, rgba(0, 50, 20, 0.9) 0%, rgba(32, 170, 87, 0.9) 100%),
		url("/img/background-login.jpg") no-repeat center;
	background-size: auto 130%;
}


main {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
}

.main-div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.secao-slogan {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-left: 3rem;
}

.logotipo {
	width: 250px;
}

.slogan-texto {
	color: white;
	font-size: 1rem;
	font-weight: 500;
	font-family: "Quicksand", sans-serif;
}

.icon-people {
	font-size: 50px;
}

.slogan-span {
	color: white;
	font-size: 28px;
	font-weight: 600;
	padding-top: 2rem;
}

.ancora-suporte {
	color: #f5f5f5;
	font-size: 13px;
	font-weight: 200;
	padding-top: 2rem;
}

form {
	width: 70%;
	background-color: white;
	padding: 3rem;
	border-radius: 1rem;
}

.login-titulo {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 1rem;
	padding-bottom: 1rem;
}

.login-texto {
	color: black;
	font-size: 25px;
	font-weight: 600;
}

.texto-botao {
	font-size: 16px !important;
	font-weight: 500 !important;
}

.btn {
	width: 100% !important;
	background-color: #242424 !important;
}

@media (max-width: 1035px) {
	form {
		width: 100%;
	}
}

@media (min-width: 721px) {
	.secao-slogan-mobile {
		display: none;
	}
}

@media (max-width: 720px) {
	main {
		flex-direction: column;
	}

	.main-div {
		justify-content: center;
	}

	.secao-slogan {
		display: none;
	}

	.logotipo {
		width: 120px !important;
		padding-bottom: 1rem;
	}

	.login-texto {
		font-size: 18px;
	}

	form {
		margin: 1.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		padding-top: 1rem;
	}

}