body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: #FAFAFA;
}


/* Fontes */

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../font/Poppins/Poppins-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

/* QUICKSAND */

@font-face {
	font-family: "Quicksand";
	src: url("../font/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

/* ROBOTO */

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}